{namespace googlecodelabs.CodelabStep.Templates}

/**
 * Renders the step title
 */
{template .title}
  {@param step: string}
  {@param label: string}
  <h2 class="step-title">{$step}. {$label}</h2>
{/template}
