google-codelab #steps {
  overflow: hidden;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

google-codelab google-codelab-step {
  display: none;
  width: 100%;
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 32px;
  overflow-y: auto;
  overflow-x: hidden;
}

google-codelab google-codelab-step[animating],
google-codelab google-codelab-step[selected] {
  display: block;
  transform-origin: 0 50% 0;
  animation-fill-mode: both;
}

google-codelab google-codelab-step[animating] {
  pointer-events: none;
  position: absolute;
}