
google-codelabs-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 24px;
}

google-codelabs-cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 330px;
  margin: 0 16px 16px 0;
  background-color: #fff;
  max-width: 330px;
}

google-codelabs-cards .card:nth-of-type(3n) {
  margin-right: 0;
}

google-codelabs-cards .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

google-codelabs-cards .card-header .category-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

google-codelabs-cards .card-header .card-duration {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

google-codelabs-cards .card-header .card-duration img {
  margin-right: 4px;
}

google-codelabs-cards .card .card-description {
  padding: 16px 32px;
  flex: 1 0 auto;
  color: #3C4043
}

google-codelabs-cards .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #DADCE0;
  padding: 8px 16px;
}

google-codelabs-cards .card .card-start {
  color: #5c5c5c;
  line-height: 1;
  letter-spacing: 0.01em;
  min-width: 5.14em;
  margin: 0 0.29em;
  font: inherit;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  padding: 0.7em 0.57em;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

google-codelabs-cards .card .card-updated {
  font-size: 12px;
  color: #9AA0A6;
  line-height: 16px;
}

.web-bg {
    background-color: #1A73E8;
}

.web-icon {
    background-image: url(//codelabs.developers.google.com/images/icons/web.svg);
}

google-codelabs-cards .card .web-start {
  color: #1A73E8;
}

google-codelabs-cards .card .web-start:hover {
  background: rgba(26, 115, 232, 0.1)
}

.android-bg {
  background-color: #71B958;
}

google-codelabs-cards .card .android-start {
  color: #71B958;
}

google-codelabs-cards .card .android-start:hover {
  background: rgba(113, 185, 88, 0.1);
}

.android-icon {
  background-image: url(//codelabs.developers.google.com/images/icons/android.svg);
}

.firebase-bg {
  background-color: #E37400;
}

.firebase-icon {
  background-image: url(//codelabs.developers.google.com/images/icons/firebase.png);
}

google-codelabs-cards .card .firebase-start {
  color: #E37400;
}

google-codelabs-cards .card .firebase-start:hover {
  background: rgba(227, 116, 0, 0.1);
}

.apps-bg {
  background-color: #D93025;
}

.apps-icon {
  background-image: url(//codelabs.developers.google.com/images/icons/apps.png);
}

google-codelabs-cards .card .apps-start {
  color: #D93025;
}

google-codelabs-cards .card .apps-start:hover {
  background: rgba(217, 48, 37, 0.1);
}

@media (min-width: 768px) {
  google-codelabs-cards .card {
    min-height: 250px;
  }
}